body {
    background-color: black;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    word-spacing: 5px;
}
h2 {
    color: #d3ff95;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    word-spacing: 5px;
}